.view-container {
    width: 100%;
    height: 100%;
    padding: 0;
}
.app {
    padding: 0;
    width: 100%;
}

/* Section */
.view-section-container {
    /* width: calc(100% + 12px);
    margin-left: -6px; */
    width: 100%;
    margin-left: 0;
    margin-top: -6px;
    margin-bottom: 4px;
    padding: 24px 0;
    
}
.view-section-container-limit-height {
    height: 540px;
    overflow-y: scroll;
}

/* Content */
.view-content-container {
    text-align: left;
    /* border-style: solid;
    border-color: blue; */
    width: 90%; max-width: 1200px;
    min-height: 40px;
    margin: auto;
}
.view-content-title {
    font-size: 26pt;
    font-weight: 800;
    margin-top: 8px;
    margin-bottom: 4px;
}
.view-content-title-small {
    font-size: 22pt;
    font-weight: 800;
    margin-top: 8px;
    margin-bottom: 4px;
}
.view-content-subtitle {
    font-size: 13pt;
    margin-bottom: 16px;
}
.invert-content {
    color: white;
    margin: 16px 0;
}

/* 2 column view */
.view-content-2-col-equal {
    
}
.view-content-2-col-equal .view-content-block {
    display: inline-block;
    width: 42%;
    /* border-style: solid; */
    margin-right: 8%;
    vertical-align: top;
    margin-top: 12px; margin-bottom: 12px;
}
.view-content-2-col-mobile {
    max-height: 60%;
    overflow-y: scroll;
}
.view-content-2-col-mobile .view-content-block {
    width: 100%;
    margin-top: 12px; margin-bottom: 24px;
    /* border-style: solid; */
}

/* Carousel */
.carousel-desktop {
    min-height: 180px;
    /* background-color: lightgray; */
    border-style: none;
    width: 100%;
    max-height: 600px;
    margin: auto;
    margin-bottom: 12px;
    position: relative;
    vertical-align: bottom;
}
.carousel-desktop img {
    max-height: 600px;
    object-fit: cover;
    vertical-align: middle;
}
.carousel-desktop-container {
    max-height: 800px;
    /* overflow-y: hidden; */
}
.carousel-mobile-container {
    width: 102%;
    margin-left: -1%;
    margin-bottom: 12px;
}
.slick-track {
    margin-bottom: -24px;
}
.carousel-mobile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: middle;
}

/* .slick-list{
    display: flex !important;
    align-items: center;
} */

.slick-arrow-prev, .slick-arrow-next{
    width: 50px;
    height: 120px;
    transform: translate(0, -50%);
    top: 50%;
    position: absolute;
    border-radius: 20px;
    background-color: rgba(50, 50, 50, 0.8);
    z-index: 1;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    visibility: visible;
}

.slick-arrow-prev:hover, .slick-arrow-next:hover{
    background-color: rgba(50, 50, 50, 0.9);
}

.slick-arrow-prev{
    left: 20px;
}

.slick-arrow-next{
    right: 20px;
}

@media screen and (max-width: 760px) {
    .slick-arrow-prev, .slick-arrow-next{
        visibility: hidden;
    }
}

/* Yes, I know this is some repeated code from our other icons,
it's a one liner though and I don't want to mess with our other code */
.slick-arrow-icon{
    filter: invert(100%);
    width: 30px;
    z-index: 10;
}
