.url-button-container {
    width: 420px;
    max-width: 100%;
    display: block;
    margin: auto;
}
.url-button {
    max-width: 100%;
    display: block;
    margin: auto;
    padding: 6px 12px;
    border-style: none;
    border-radius: 12px;
    transition: 0.2s;
    margin-bottom: 8px;
    text-align: center;
}
.url-button:hover {
    filter: brightness(0.8);
}
.url-button img {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-style: none;
    vertical-align: middle;
    margin-right: 16px;
}
.url-button .smaller-icon {
    width: 22px;
    height: 22px;
    margin-top: 5px; margin-bottom: 5px;
}
.url-button span {
    vertical-align: middle;
    font-size: 13pt;
    font-weight: 600;
    display: inline-block;
}
